EXPO_PUBLIC_USER_API_URL=http://localhost:8081
EXPO_PUBLIC_VENDOR_API_URL=http://localhost:8082
EXPO_PUBLIC_MEDIA_API_URL=http://localhost:8083
EXPO_PUBLIC_INVITATION_API_URL=http://localhost:8084
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
