EXPO_PUBLIC_USER_API_URL=http://192.168.29.108:8081
EXPO_PUBLIC_VENDOR_API_URL=http://192.168.29.108:8082
EXPO_PUBLIC_MEDIA_API_URL=http://192.168.29.108:8083
EXPO_PUBLIC_INVITATION_API_URL=http://192.168.29.108:8084
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
